@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
	background-color: #FF00FF;
	/*-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;*/
}

body {
	font-family: 'Josefin Sans', sans-serif;
      padding: 0;
      margin: 0;
      font-size: 1em;
      letter-spacing: 1px;
      
}

div {
	box-sizing: border-box;
	-webkit-transition: all .5s; /* Safari */
    transition: all .5s;
}

/*------------------------------------------------------------- || Video Cover ||*/
*, *:before, *:after {
  box-sizing: inherit;
}


#wrapper {

  width:100%;
  height:100vh;
  /*overflow: hidden;*/
}

#wrapper video {
  /*object-fit: contain;*/
/*       object-fit: fill; */
  object-fit: cover;
  width:100%;
  height:100%;
}

video::-webkit-media-controls {
    display:none !important;
  }

#soundwraper{
	position: absolute;
    z-index: 2;
    top:30vh;
	left:20vw;
}

#sound-info-all{
	
	width:60vw;
	
	/*margin:30vh auto 0 auto;*/
	border: 20px solid #FFFFFF;
}

#loading {
	font-weight: 700;
	width:60vw;
	padding-top:2vw;
	color:#FFF;
}

 #sound-info-name {
	width: 100%;
	height:auto;
	
	text-align: center;
	border-bottom: 20px solid #FFFFFF;
	padding: 1vw;
}
#sound-info-date {
	width: 100%;
	height:auto;
	padding: 0;
	overflow: hidden;
	background-image: url('imgs/diag_w_sm1.png');
}

 #sound-title{
	font-weight: 700;
	font-size: 4vw;
	padding:2vw;
	color:#FFFFFF;
	
}

.file-name {
	
	margin: 0 auto;
	font-size: .75em;
	font-weight: 500;
	letter-spacing: 2px;
	color:#fff;

}

.date-entry {
	position: relative;
	float:left;
	width:auto;
	border: 2px solid #F0F;
	border-right: 0px;
	color:#FF00FF;
	font-size: 1.25em;
	font-weight: 500;
	padding:12px 14px 8px 14px;
	background-color: #FFF;
	text-transform: uppercase;
}



.wider {
	
}


 #sound {
	width:60vw;
	overflow:hidden;
}